<h1>Edit a Game</h1>

<form action="/games/<%= @game.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label for="title">Title: </label><br>
    <input type="text" name="title" value="<%= @game.title %>"><br>
    <label for="publisher">Publisher: </label><br>
    <input type="text" name="publisher"><br>
    <label for="year_released">Year Released: </label><br>
    <input type="text" name="year_released"><br>
    <label for="rating">Rating: </label><br>
    <input type="text" name="rating"><br>
    <input type="submit">
</form>