<h3>Add a New Game</h3>

<form action="/games" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" name="title"><br>
    <label for="publisher">Publisher: </label><br>
    <input type="text" name="publisher"><br>
    <label for="year_released">Year Released: </label><br>
    <input type="text" name="year_released"><br>
    <label for="rating">Rating:</label><br>
    <input type="text" name="rating"><br>
    <input type="submit">
</form>