<h1 class="text-center pt-5 pb-3">Welcome to Flatiron Game Tracker!</h1>

<p class="text-center">Flatiron Game Tracker allows you to track your video game inventory. You are able to add video games and
store addition details such as the year or release, rating, and publisher. Before we
get started, you must first either login, or create an account!</p>

<div class="row">
  <div class="col text-center">
    <a class="btn btn-primary" href="/user/login" role="button">Login</a>
    <a class="btn btn-danger" href="/user/signup" role="button">Signup</a>
</div>